<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>About Us</h4>
          <h6 style="color: black;"><b>Tranquil Haven</b></h6>
          <p>Embrace emotions with our Flowers and Gifts, making every occasion a cherished memory with our handcrafted arrangements and thoughtful gifts</p>
        </div>
        <div class="col-md-3">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Reach Us</h4>
          <p>15, John Street, Chennai, India</p>
          <p>Email: tranquilhaven@gmail.com</p>
          <p>Phone: +91 9987556485</p>
        </div>
      </div>
    </div>
  </footer>
  
