<div class="home-container" style="background-image: url('assets/bg.png'); background-size: contain; background-position: center;">
  <section class="home-section">
    <div class="container text-center">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="d-flex flex-column align-items-center"> <!-- Wrap content in a flex column container -->
            <img src="assets/Pink.png" alt="" style="border-radius: 50%;">

            <h2 class="mt-3" style="font-size: baskerville;">Welcome to Tranquil Haven Gift Shop</h2> <!-- Add margin-top class -->

            <button class="btn btn-primary btn-lg mt-3 shop-button mb-3" style="background-color:  #da467d ;"   (click)="onShop()">Shop Now</button> <!-- Add margin-top class -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="carouselExampleControls" class="carousel slide mx-auto" data-ride="carousel" style="max-width: 1000px; height: 200px;">
    <div class="carousel-inner" style="border: 20px solid #ff7fa7">
      <div class="carousel-item active">
        <img src="assets/banner.jpg" class="d-block w-100" style="height: 400px;"  alt="First slide">
      </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>

