
<footer class="bg-pink text-light py-4" style="background-color:#ff7fa7;">
    <div class="container" style="background-color: #ff7fa7;">
      <div class="row" >
        <div class="col-md-6">
          <h5>About Us</h5>
          <h6 style="color: black;"><b>Tranquil Haven</b></h6>
          <p>Embrace emotions with our Flowers and Gifts, making every occasion a cherished memory with our handcrafted arrangements and thoughtful gifts</p>

        </div>
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/shopping">Products</a></li>
            <li><a routerLink="/my-cart">Cart</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Reach Us</h5>
          <p>15, John Street, Chennai, India</p>
          <p>Email: tranquilhaven@gmail.com</p>
          <p>Phone: +91 9987556485</p>
        </div>
      </div>
    </div>
  </footer>
