footer {
    font-size: 14px;
    
  }
  
  footer h5 {
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: Verdana, sans-serif;
   
  }
  
  
  footer p {
    color:  rgb(5, 5, 5);
    font-family: Verdana, sans-serif;
  }
  
  footer a {
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-family: Verdana, sans-serif;
  }
  
  footer a:hover {
    color: black;
  }
  